.job-card {
  width: 30em;
 
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  isolation: isolate;
  background-color: white;
}

.job-card-icon {
  position: absolute;
  display: flex;
  align-items: center;
  color:white;
  top: 0;
  width: 100%;
  height: 3em;
  background-color: var(--color);
}

.job-card-icon > img {
  width: 2em;
  height: 2em;
  margin: 0.5em;
  filter: invert(1);
}

.job-card-text {
    padding: 1em;
  padding-top: 3em;
  width: 100%;

}

